[submodule "External/stb"]
	path = External/stb
	url = git@github.com:nothings/stb.git
	ignore = all
[submodule "External/glm"]
	path = External/glm
	url = git@github.com:g-truc/glm.git
	ignore = all 
[submodule "External/tinygltf"]
	path = External/tinygltf
	url = git@github.com:syoyo/tinygltf
	ignore = all
[submodule "External/imgui"]
	path = External/imgui
	url = git@github.com:ocornut/imgui.git
	ignore = all
